<section class="section background">
  <div class="section__title">About Me</div>
  <div class="section__content">
    <p>
      Hello, I'm a software engineer based in Dhaka, who enjoys building things
      that live on the internet. Currently i'm making apps for the iOS and macOS
      platforms with some awesome people at
      <a
        class="underline-link"
        href="https://brainstation-23.com"
        target="_blank"
        >Brain Station 23</a
      >.
    </p>

    <p>
      I always emphasize using suitable data structures and algorithms and
      building good architecture before development. I love to make things with
      a useable and intuitive user interface experience and look for the best
      possible solution with the best time complexity by writing precise, clean,
      reusable, and test-driven code.
    </p>

    <p>
      On other things, I must admit that I'm very much likely to travel. I am
      willing to travel all over the world and know their cultures and represent
      them in through my imagination.
    </p>

    <p>
      I'm a quick learner and love to adopt technologies early. Always ready to
      take on new challenges.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
