<section class="section background">
  <div class="section__title">About Me</div>
  <div class="section__content">
    <p>
      Hello, I'm a software engineer based in Dhaka, who enjoys building things
      that live on the internet. Currently i'm making apps for the iOS, iPadOS
      and macOS platforms with some awesome people at
      <a
        class="underline-link"
        href="https://10minuteschool.com"
        target="_blank"
        >10 Minute School</a
      >.
    </p>

    <p>
      I love to make things with a useable and intuitive user interface
      experience and look for the best possible solution with the best time
      complexity.
    </p>

    <p>
      On other things, I must admit that I'm very much likely to travel. I am
      willing to travel all over the world and knowing their cultures and
      representing them in through my imagination.
    </p>

    <p>
      I'm a quick learner and love to adopt technologies early. Always ready to
      take on new challenges.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
