<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a
          href="https://apps.apple.com/us/app/10-minute-school/id1577061772"
          target="_blank"
        >
          <img src="{{site.baseurl}}/img/featured/10ms.png" alt="" />
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a
            href="https://apps.apple.com/us/app/10-minute-school/id1577061772"
            target="_blank"
            >10 Minute School iOS</a
          >
        </div>
        <p>
          10 Minute School is the country's biggest learning app. Starting from
          1st to 12th grade of academic courses, this app offers professional
          skill development courses in Bengali as well.
        </p>
      </figcaption>
    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
        <a
          href="https://apps.apple.com/us/app/rideox/id1460220999"
          target="_blank"
        >
          <img src="{{site.baseurl}}/img/featured/rideox.png" alt="" />
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a
            href="https://apps.apple.com/us/app/rideox/id1460220999"
            target="_blank"
            >RideOX iOS</a
          >
        </div>
        <p>
          RideOX Limited is a ride-sharing company with a franchise in
          Bangladesh, incorporated in New York, USA, which plans to cover the 64
          districts of the country in case of ride-sharing.
        </p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://deshbarta.news" target="_blank">
          <img src="{{site.baseurl}}/img/featured/deshbarta.png" alt="" />
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://deshbarta.news" target="_blank"
            >Deshbarta Online News</a
          >
        </div>
        <p>
          Deshbarta is an online newspaper published in Bengali. It's regularly
          published to target true news and main feature is moral clarity. As
          well as publishing news, it is working as a platform for history,
          tradition and literary works.
        </p>
      </figcaption>
    </div>
  </div>
</section>
